<p-messages [(value)]="messages" *ngIf="appService.fileLoaded"></p-messages>

<p-table [value]="data" styleClass="p-datatable-gridlines" responsiveLayout="scroll" class="w-full" *ngIf="data.length">
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let h of header">
                {{h}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cuenta>
        <tr>
            <td *ngFor="let h of header">{{cuenta[h] || ''}}</td>
        </tr>
    </ng-template>
</p-table>