<div class="p-fluid formgrid grid">
  <div class="field col-3">
    <span class="p-float-label">
      <p-dropdown [filter]="true" filterBy="name" [showClear]="true" placeholder="Seleccione una Empresa"
                  [options]="businesses" [(ngModel)]="appService.formData.business" (onChange)="changeBusiness($event)" optionLabel="name" inputId="businessPicker"></p-dropdown>
      <label for="businessPicker">Empresa</label>
    </span>
  </div>
  <div class="field col-3">
    <span class="p-float-label">
      <p-dropdown [options]="accounts" [(ngModel)]="appService.formData.bank" optionLabel="bank" inputId="bankPicker"></p-dropdown>
      <label for="bankPicker">Banco</label>
    </span>
  </div>
  <div class="field col-2">
    <span class="p-float-label">
      <input type="text" pInputText [(ngModel)]="appService.formData.bank.account" disabled/>
      <label for="bankPicker">Cuenta</label>
    </span>
  </div>

  <div class="field col-2">
    <span class="p-float-label">
      <p-calendar [(ngModel)]="appService.formData.date" dateFormat="dd/mm/yy" inputId="yearpicker"></p-calendar>
      <label for="yearpicker">Fecha Reporte</label>
    </span>
  </div>
  <div class="field col-2">
    <span class="p-float-label">
      <p-calendar [(ngModel)]="appService.formData.time" [timeOnly]="true" [hourFormat]="'12'" inputId="monthpicker"></p-calendar>
      <label for="monthpicker">Hora Reporte</label>
    </span>
  </div>
</div>

<div class="p-fluid formgrid grid">
  <div class="field col-11">
    <p-fileUpload chooseLabel=" " uploadLabel=" " cancelLabel=" " name="demo[]" accept=".xlsx,.csv,.xls" [customUpload]="true" [showCancelButton]="true"
                  [maxFileSize]="1000000" (uploadHandler)="onBasicUpload($event)" (onError)="onErrorUpload()" (onRemove)="onClearUpload()" (onClear)="onClearUpload()"></p-fileUpload>
  </div>

  <div class="field col-1" *ngIf="appService.fileLoaded">
    <p-button styleClass="p-button-success w-full" icon="pi pi-file-excel" iconPos="left" (onClick)="handleClick()"></p-button>
  </div>
</div>