/* You can add global styles to this file, and also import other style files */
body {
  background-color: dimgray;
}
.p-inputtext{
  font-size: .8rem !important;
}
.p-component{
  font-size: .8rem !important;
}